@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,700;1,500;1,700&family=Lato:wght@300;400;700&family=Raleway&display=swap');

.item2 {
	text-align: center;
	background: linear-gradient(45deg, #5a5a5a, #303030);
	font-family: 'Raleway', Verdana, Arial, Helvetica, sans-serif;
	color: antiquewhite;
	height: 100vh;
	padding-top: 40px;
}

.backgroundAdd {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: antiquewhite;
	opacity: 0.6;
}
.inputAdd {
	position: fixed;
	top: 37px;
	left: 15%;
	display: flex;
	padding: 20px;
	width: 68%;
	height: 50px;
	background-color: antiquewhite;

	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	border-radius: 5px;
}
.inputField {
	height: 40px;
	width: 75%;
	font-size: 1.5rem;
}

.wrapper {
	margin: auto;
	max-width: 60%;
	font-size: 1rem;
	border: 6px antiquewhite solid;
	box-shadow: 2px 2px 10px #999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0px 5px 30px;
	margin-bottom: 10px;
	text-align: left;
}

.task {
	font-size: 1.3em;
}

.buttons {
	display: flex;
	margin: 20px;
}

.button {
	/* margin: 5px 10px;
	padding: 5px 10px;
	border-radius: 5px; */
	float: left;
	display: block;

	margin-right: 20px;
	padding: 10px 30px;
	background: linear-gradient(#626466, #303132);
	color: #ffffff;
	border-radius: 6px;
	font-size: 1em;
	font-family: 'Raleway', Verdana, Arial, Helvetica, sans-serif;
	box-shadow: -1px -1px 1px #999;
	transition: all 0.3s ease;
}
.button:hover {
	/* opacity: 0.7; */
	background: linear-gradient(#404040, #606472);
	color: #ffffff;
	text-decoration: none;
	color: #ff6;
}
